<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repost It</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">home</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <button id="logout" class="btn-logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1>Repost It</h1>
            </div>
        </div>
        <main>

    <form class="new-post">
        <label for="post-title"></label>
    <button type="submit" class="btn" id="post-new">New post</button>
    </form>
    
           
    <ul class="list-post">
    {{#each posts as |post|}}
    <li>
    {{> post-info post }}
    </li>
    {{/each}}
</ul>
        </main>
</div>

    
</body>

</html>

{{# if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{/if}}