
<button type="submit" class="btn" id="new-post-btn"><a href="/new-post">Re-Post-It </a></button>
<div>
    <p>Repost all your favorite social media posts here!  Don't forget to include the link!</p>
</div>
    
<ul class="list-post">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>

{{# if loggedIn}}
<script src="/javascript/add-post.js"></script>
{{/if}}