<section class="login-page">
    <div class="form">
        <h1>Log In</h1>
    </div>
    <div class="form">
        <form class="login-form">
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="entry-field" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-btn">Log In</button>
            </div>
        </form>
    </div>

    <div class="form">
        <h1>Sign Up</h1>
    </div>
    <div class="form">
        <form class="signup-form">
            <div>
                <label for="username-signup">Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-btn">Sign Up</button>
            </div>
        </form>
    </div>

</section>

<script src="/javascript/login.js"></script>