<section class="login-page">
    <div class="form1">
        <h1>Log In</h1>
    </div>
    <div class="form2">
        <form class="login-form">
            <div>
                <label for="username">Username</label>
                <input type="text" class="entry-field" id="username" />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="entry-field" id="password" />
            </div>
            <div>
                <button type="submit" class="login-btn">Log In!</button>
            </div>
        </form>
    </div>

    <div class="form1">
        <h1>Sign Up</h1>
    </div>
    <div class="form2">
        <form class="signup-form">
            <div>
                <label for="username">Select a Username</label>
                <input type="text" class="entry-field" id="username" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password" />
            </div>
            <div>
                <button type="submit" class="login-btn">Sign Up</button>
            </div>
        </form>
    </div>

</section>

<script src="/javascript/login.js"></script>