
<article class="post">
    <section class="post-page">
        <div class="form1">
            <h2>Repost Here</h2>
        </div>
        <div class="form2">
            <form class="post-page">
                <div class="post-content">
                    <label for="post-content">Post</label>
                    <textarea class="entry-field" id="post-content" name="post-content"></textarea>
                </div>
                <button type="submit" class="btn-post">Post</button>
            </form>
        </div>
    </section>
</article>

<script src="/models/Post.js"></script>